<section class='container'>
    <p class='post-container'>
        <button class="btn post-dropdown" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse"
            aria-expanded="false">Toggle all
            elements</button>
    </p>
    {{#each post}}
    <div class="post-container" data-bs-parent='collapse'>
        <div>
            <div class="row align-items-center">
                {{#if delete}}
                <div class='col-1' style='padding:0px text-align-last:center'>
                    <img id='edit-btn{{id}}' class='comment delete post-dropdown' type='button' src='./images/edit.svg'
                        data-bs-toggle="collapse" href="#updatePost{{id}}" role="button" aria-expanded="true"
                        aria-controls="updatePost{{id}}">
                </div>
                {{/if}}
                <div class='col-4 {{#unless delete}}offset-4{{/unless}}{{#if delete}}offset-3{{/if}}' style='padding:0px'>
                    <a class="btn post-dropdown " data-bs-toggle="collapse" href="#multiCollapseExample{{id}}"
                        role="button" aria-expanded="true" aria-controls="multiCollapseExample{{id}}">
                        {{title}}
                    </a>
                </div>
                {{#if delete}}
                <div class='col-1 offset-3' style='padding:0px'>
                    <img id='delete-btn{{id}}' onclick='getIdDelete(this)' class='comment delete' type='button'
                        src='./images/cancel.svg'>
                </div>
                {{/if}}
            </div>
            <div class="collapse multi-collapse" id="multiCollapseExample{{id}}">
                <div class="card card-body">
                    {{post}}
                </div>
            </div>
            <div id='{{!-multiCollapseExample{{count}}test'
                class='row justify-content-between info post-dropdown {{!-collapse multi-collapse}}'>
                <h6 class="col-8 userInfo" style='text-decoration:none'>
                    Posted by {{username}} on, {{date}}
                </h6>
                <div class='col-1'>
                    <img id='comment-btn' class='comment post-dropdown' type='button' src='./images/chat.svg'
                        data-bs-toggle="collapse" href="#multiCollapseComment{{id}}" role="button" aria-expanded="true"
                        aria-controls="multiCollapseComment{{id}}">
                </div>
            </div>
            {{> updatePost}}
        </div>
        {{> comment}}
    </div>
    {{/each}}
</section>